.roboCard {
    margin: 10px;
    border: 2px solid blue;
    height: 250px;
    width: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    margin:0;

}